
<!-- <courses></courses>
<app-course></app-course>
<app-star></app-star> -->


<!-- Input properties
post is taken from app.componenets.ts -->

<!-- <app-star [is-isStar]="post.isStar" (change)="onStarChanged($event)" ></app-star>   -->
<!-- Star has been changed:  true(output in console) -->

<!-- <app-star [is-isStar]="post.isStar" (change)="onStarChanged($event)" ></app-star>  -->

<!-- <app-panel >
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
    </div>
</app-panel> -->

<!-- Module 5 Assignment, Like Compoenent -->
<!-- <app-like-compoenent
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
> </app-like-compoenent> -->

<!-- Module 6 Directives -->

<!-- <div *ngIf="courses.length >0 then coursesList else noCourses"></div>
<ng-template #coursesList>
  List of Courses
  <ul>
    <li *ngFor="let i of courses">
      {{i}}
    </li>
  </ul>
</ng-template>
<ng-template #noCourses>
  No Courses Yet
</ng-template> -->
<!-- 
<div [hidden]="courses.length == 0">
  List of Courses
  <ul>
    <li *ngFor="let i of courses">
      {{i.id}}
    </li>
  </ul>
</div>

<div [hidden]="courses.length > 0">
  No Courses Yet
</div>

<div (click)="viewMode='Something Else'" >Otherwise</div>
<ul class="nav nav-pills">
  <li class="nav-item" [class.active]="viewMode == 'map'" ><a class="nav-link" (click)="viewMode = 'map'" >Map View</a></li>
  <li class="nav-item" [class.active]="viewMode == 'list'"><a class="nav-link" (click)="viewMode = 'list'" >List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- ngFor and Change Detection -->
<!-- <button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; even as isEven">
     {{course.name}}<span *ngIf="isEven"> (Even) </span>
     <button (click)="onRemove(course)" >Remove</button>
  </li>
</ul>
<br> -->

<!-- ngFor and Trackby -->
<!-- <button (click)="loadCourses()" >Load Courses</button>
<ul>
  <li *ngFor="let course of course2; trackBy: trackCourse">
    {{course.name}}
  </li>
</ul> -->

<!-- 
<div *ngIf="courses.length > 0; else noCourses">
  List of Courses
</div>
<ng-template #noCourses>
  No Courses
</ng-template>

<app-star></app-star> -->

<!-- <button
[style.backgroundColor]="canSave ? 'blue':'grey'"
[style.color]="canSave ? 'white':'black'"
[style.fontWeight]="canSave? 'bold':'normal'"
(click)="onClickBtn()"
>

  Save
</button> -->
<!-- 
<button

[ngStyle]="{
  'backgroundColor':canSave ? 'blue':'grey',
  'color':canSave ? 'white':'black',
  'fontWeight':canSave? 'bold':'normal'
}"
(click)="onClickBtn()"
>

  Save
</button> -->

<!-- Safe Travesal Operator -->
<!-- <span >{{task?.assignee}}</span> -->

<!-- Custom directives -->
<!-- <input type="text" [appInputFormat]="'uppercase'" /> -->

<!-- Zippy Component -->
<!-- <app-zippy title="Shipping Details">
  Shipping Details Content
</app-zippy>
<app-zippy title="Billing Details">
  Billing Details Content
</app-zippy> -->


<!-- Section 7 -->
<!-- Template-Driven-forms -->
<!-- <app-contact-form></app-contact-form> -->

<!-- Module 7 Assingment -->
<app-course-form></app-course-form>